@import "../../theme/colors.scss";

.card {
  min-width: 0;
  word-wrap: break-word;
  background-color: $backgroundColor;
  background-clip: border-box;
  border-radius: 0.25rem;
  margin: 0.5rem 0 1rem 0;
  -webkit-box-shadow: 0 1px 4px 0 $shadowColor;
  box-shadow: 0 1px 4px 0 $shadowColor;
}
