@import "../../theme/colors.scss";

.tableWrapper {
  width: 100%;
  max-height: calc(100vh - 40px);
  overflow: auto;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  .table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-bottom: 1px solid $borderColor;
    //  add sticky to table headers
    thead {
      th {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        cursor: pointer;
        background: $panelBackgroundColor;
        color: $fontColorDark;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        min-width: 60px;
        transition: background-color 150ms;
        padding: 16px 8px 16px 16px;
        border: 1px solid $borderColor;
        &:not(:first-of-type) {
          border-left: 0;
        }
      }
    }

    tbody {
      tr {
        &:nth-of-type(even) td {
          background: whitesmoke;
        }
        &:hover td {
          background: lighten(black, 80%);
        }

        td {
          color: $fontColor;
          background-color: $backgroundColor;
          padding: 10px 8px 10px 16px;
          border: 1px solid $borderColor;
          border-top: 0;
          white-space: nowrap;
          &:not(:first-of-type) {
            border-left: 0;
          }
        }
      }
    }

    .symbol-header {
      z-index: 2;
    }
    .fixed-column {
      z-index: 1;
    }
    .symbol-header,
    .fixed-column {
      position: -webkit-sticky;
      position: sticky;
      min-width: 100px;
      left: 0px;
    }
    .description-column {
      width: 50%;
    }
  }

  @media print {
    table {
      border-collapse: collapse !important;
      thead {
        display: table-header-group;
      }
      td,
      th {
        background-color: $backgroundColor !important;
      }
    }
  }
}
